base_url: {{gfwlist2dnsmasq.base_url}}
out_file: {{gfwlist2dnsmasq.out_file}}
dns_host: {{gfwlist2dnsmasq.dns_host}}
dns_port: {{gfwlist2dnsmasq.dns_port}}
ipset_name: {{gfwlist2dnsmasq.ipset_name}}
extras: {{gfwlist2dnsmasq.extras}}
